<form method="post" action="/cart/add">
    {% for variant in product.variants limit:1 %}
        <input type="hidden" name="id" value="{{ variant.id }}" />
    {% endfor %}
	<!-- START BUY -->
	<div class="clear">
	    {% if product.available %}
		    <h2><span>{{ product.price | money }}</span>{% if product.compare_at_price_max > product.price %} <del>{{ product.compare_at_price_max | money }}</del>{% endif %}</h2>
		    <input class="submit-add-to-cart" type="submit" value="Add To Cart" />
		{% else %}
		    <h6>Sold Out</h6>
		{% endif %}
	</div>
	<!-- END BUY -->
</form>
