<h1>{{ product.title | escape }}</h1>
<!-- START SUMMARY -->
<div id="summary" class="clear">
	<!-- START IMAGES -->
    {% if product.images.size > 0 %}
        {% include 'product-image-rollover' %}
    {% endif %}
	<!-- END IMAGES -->
	<!-- START DETAILS -->
	<div id="details">
		<!-- START DESC -->
		<div id="desc">
			{{ product.description }}
		</div>
		<!-- END DESC -->
		<!-- START OPTIONS -->
		<div id="options">
            {% include "add-to-cart" %}
		</div>
		<!-- END OPTIONS -->
	</div>
	<!-- END DETAILS -->
</div>
<!-- END SUMMARY -->{% include "related" %}